html
  head
    //- meta(property="og:image" content=imageUrl)
    //- meta(name="og:description" content=content)
    meta(property="og:url" content="http://www.nytimes.com/2015/02/19/arts/international/when-great-minds-dont-think-alike.html")
    meta(property="og:type" content="article")
    meta(property="og:title" content="When Great Minds Don’t Think Alike")
    meta(property="og:description" content="How much does culture influence creative thinking?")
    meta(property="og:image" content="http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg")
    title= title
  body
    h1= content
    img(src=imageUrl)
    //- facebook sdk
    script(async defer crossorigin="anonymous"
      src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0&appId=547910102421338&autoLogAppEvents=1")
    script.
     // facebook配置
     window.onload = () => {
      FB.ui({
        method: 'share',
        href: `https://testfb.hzmra.com/?type=live&id=205695763420807168` //这里换成你的网址
      }, function(response){
        console.log('分享回调', response)
        //分享回调
      })
     }
