doctype html
html(lang="en")
  head
    meta(property="og:type" content="article")
    meta(property="og:title" content=title)
    meta(property="og:description" content=content)
    meta(property="og:image" content=imageUrl)
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
    title=title
    style.
      html, body, iframe {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        border: 0;
      }
  body
    iframe(
      width="100%"
      height="100%"
      src=link)