doctype html
html(lang="en")
  head
    //- meta(property="og:image" content=imageUrl)
    //- meta(name="og:description" content=content)
    meta(property="og:type" content="article")
    meta(property="og:title" content=title)
    meta(property="og:description" content=content)
    meta(property="og:image" content=imageUrl)
    title=title
  body
    h2=title
    p=link
    p=content
    img(src=imageUrl)
    //- facebook sdk
    script(async defer crossorigin="anonymous"
      src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0&appId=547910102421338&autoLogAppEvents=1")
    script.
     // facebook配置
     window.onload = () => {
      FB.ui({
        method: 'share',
        href: `https://assist.huzemin.com/#/help/1199592563663896578` //这里换成你的网址
      }, function(response){
        console.log('分享回调', response)
        //分享回调
      })
     }
