html
  head
    meta(property="og:title" content=title)
    meta(property="og:image" content=imageUrl)
    meta(name="og:description" content=content)
    title= title
  body
    h1= content
    //- facebook sdk
    script(async defer crossorigin="anonymous"
      src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0&appId=547910102421338&autoLogAppEvents=1")
    script.
      // facebook配置
      //- window.onload = () => {
      //-   window.location.href = 'https://www.baidu.com'
      //- }
     window.onload = () => {
      FB.ui({
        method: 'share',
        href: 'https://testfb.hzmra.com:808/' //这里换成你的网址
      }, function(response){
        console.log('分享回调', response)
        //分享回调
      })
     }
