html
  head
    meta(property="og:type" content="article")
    meta(property="og:title" content=title)
    meta(property="og:image" content="https://hnzmzs.s3-us-west-2.amazonaws.com/lfshz/facebook0100243.png")
    meta(name="og:image:width" content="600")
    meta(name="og:image:height" content="314")
    meta(name="og:description" content="dfadsfasfasfsadfsadfasdfasdfasdfasdf.kjasdlkfj")
    title= title
  body
    h1= content
    //- facebook sdk
    script(async defer crossorigin="anonymous"
      src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0&appId=547910102421338&autoLogAppEvents=1")
    script.
     // facebook配置
     window.onload = () => {
      FB.ui({
        method: 'share',
        href: '#{link}' //这里换成你的网址
      }, function(response){
        console.log('分享回调', response)
        //分享回调
      })
     }
